*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 40px 60px;
}

@media (min-width: 768px) {
  .app-container {
    padding: 50px 80px;
  }
}

.app-name {
  font-size: 26px;
  font-weight: bold;
}

@media  screen and (min-width: 767px) {
  .app-name {
    font-size: 44px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  width: 80%;
  margin: 20px auto;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 500;
}

@media screen and (min-width: 767px) {
  .form-label {
    font-size: 24px;
  }
}

.form-control {
  padding: 6px;
  font-size: 18px;
}

@media screen and (min-width: 767px) {
  .form-control {
    font-size: 22px;
  }
}

.submit-btn {
  padding: 6px 10px;
  font-size: 14px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .submit-btn {
    font-size: 22px;
    padding: 12px 20px;
  }
}

.tasklist-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0)

}

@media screen and (min-width: 767px) {
  .tasklist-container {
    padding: 30px;
  }
}

.task-card-container {
  padding: 6px;
  width: 250px;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 20px;
}

@media screen and (min-width: 767px) {
  .task-card-container {
    padding:12px;
    width: 350px;
    border-radius: 20px;
  }
}

.task-card {
  padding: 6px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 767px) {
  .task-card {
    padding: 12px;
    border-radius: 14px;
    gap: 14px;
    margin: 0px 20px;
  }
}

card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 6px;
}

@media screen and (min-width: 767px) {
  .card-title {
    font-size: 32px;
  }
}

card-text {
  font-size: 14px;
  margin-bottom: 6px;
}

@media screen and (min-width: 767px) {
  .card-text {
    font-size: 18px;
  }
}

.card-btn-container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 767px) {
  .card-btn-container {
    gap: 30px;
  }
}

.card-btn {
  padding: 6px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #434dd8;
}

@media screen and (min-width: 767px) {
  .card-btn {
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
  }
}